* {
    margin:0;
    padding:0;
  }
  body {
    width: 60em;
    float: left;
}

#cabecera{
    background-color: #eee;
    padding: 0.01em;
    text-align: center;
  }
   
  #pie {
    background-color: #eee;
    padding: 0.01em;
    clear: both;
    text-align: center;
  }

#cuerpo {
  padding: 0.01em;
}
.columna1, .columna2, .columna3{
    background-color: #eee;
    width: 17.625em;
    float: left;
    margin: 0.125em;
    text-align: center;

}
  li {
    display: inline;
    padding: 0.01em;
  }
